.navbar-brand{
    font-family: 'Astron', sans-serif;
}

body{
    background-color:#5dbff8;

}


.Titulo {
    font-style: astron;
    color: aliceblue;
    margin-top: 15%;
}
.Encabezado {
    margin: 120px;
    padding-left: 200px;
}
#formnombre {
    margin-bottom: 10px;
}
#formtelefono {
    margin-bottom: 10px;
}
#formpag {
    margin-bottom: 10px;
}
#formmail {
    margin-bottom: 10px;
}
.btn {
    margin-top: 10px;
}
#formulario {
    margin-top: 100px;
    justify-content: center;
}



.footer-pagina{
    width: 100%;
    background-color: #38B6FF;
    margin-top: 8.4%;
}

.footer-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.footer-pagina .grupo-1 .box figure{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-pagina .grupo-1 .box figure img{
    width: 300px;
}

.footer-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.footer-pagina .grupo-1 .box p{
    color: #fff;
    margin-bottom: 10px;
}

.footer-pagina .grupo-1 .redes-sociales a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0C96E6;
    text-align: center;
    transition: all 300ms ease; 
}

.footer-pagina .grupo-1 .redes-sociales a:hover{
    color:aquamarine;

}


@media screen and (max-width:800px){
    .footer-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }

    .footer-pagina .grupo-1 .box figure img{
        width: 170px;
    }

    .footer-pagina .grupo-1 .box figure{
        width: 70%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
